@import 'tailwindcss';

@font-face {
    font-family: "Tiktok Sans";
    src: url('/fonts/tiktok-font.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
}

@theme {
    @keyframes revolve {
        0%   { left: 0 }
        25%  { transform: scale(1.1) }
        50%  { left: 0.75rem }
        75%  { transform: scale(0.75) }
        100% { left: 0 }
    }

    --font-tiktok: "Tiktok Sans", sans-serif;
    --animate-revolve: revolve 0.8s ease-in-out infinite;
    --shadow-custom: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
    --shadow-recommendations: 0 0 0.5rem rgba(0, 0, 0, 0.03);
    --shadow-input-error: 0 0 0 0.2rem #FF4C3A;
}

@layer utilities {
    .transparent-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .transparent-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .no-selectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        user-drag: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }
    .skeleton {
        animation: skeleton-pulse 1.2s ease-in-out infinite;
        background-color: #eeeeee;
    }
    .skeleton-v2 {
        animation: skeleton-pulse 1.2s ease-in-out infinite;
        background-color: #fcfcfc;
    }

    @keyframes skeleton-pulse {
        0% { opacity: 1; }
        50% { opacity: 0.45; }
        100% { opacity: 1; }
    }
}

* {
    font-family: var(--font-tiktok);
    touch-action: pan-y pan-x;
    outline: none
}
html, body {
    width: 100%;
    min-height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #FFF;
    overscroll-behavior: none;
    overflow-x: hidden;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
body.no-scrollbar {
    overflow: hidden;
}
ul {
    margin-bottom: 0.05rem;
}